*.swp
*~
*.swo
*.pyc
*.o
*.so
*.a
*.vec
*.csv
*.in
*.bin
*.sorted
*.fasttext
*.header
*.binary
*.dict
ynet/data
ynet/data.bak
ynet/model_dir
*.out
ynet/model
*.tgz
tags/data
tags/raw_data
build
data/
tf_fasttext/model/
model_dir/
export_model_dir/
cpp_out
python_out
*.log
