*.swp
*~
*.swo
*.pyc
*.o
*.so
*.a
*.vec
*.csv
*.in
*.bin
*.sorted
*.fasttext
*.header
*.binary
*.dict
*.tgz
*.out
*.ckpt
*.txt
*.pkl
*.tfrecord
*.tfrecord.*
*.tar.gz
*.bz2
*.npy
*.log
*.bak
.ipynb_checkpoints
*.preprocessed
*.shuf

# file
core
tf/knet/krecall/ops/fasttext/tfrecord_writer

# directionary
data/
raw_data/
build
model/
model_dir/
model_dir.bak/
export_model_dir/
cpp_out/
python_out/
dict_dir/
nce_params_dir/
mnist_convnet_model/
fe_dir
nbsvm_run
datasets

datasets/aclImdb_v1-dataset/aclImdb
