[submodule "cppml/deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "submodules/glove"]
	path = submodules/glove
	url = https://github.com/xuzhezhaozhao/GloVe_reading
[submodule "submodules/fastText"]
	path = submodules/fastText
	url = https://github.com/xuzhezhaozhao/fastText_reading
[submodule "submodules/darknet"]
	path = submodules/darknet
	url = https://github.com/xuzhezhaozhao/darknet_reading
[submodule "submodules/nbsvm"]
	path = submodules/nbsvm
	url = https://github.com/xuzhezhaozhao/nbsvm
[submodule "submodules/nbsvm-multiclass"]
	path = submodules/nbsvm-multiclass
	url = https://github.com/xuzhezhaozhao/nbsvm-multiclass
[submodule "submodules/cnn-text-classification-tf"]
	path = submodules/cnn-text-classification-tf
	url = https://github.com/xuzhezhaozhao/cnn-text-classification-tf
