*.swp
*~
*.swo
*.pyc
*.o
*.so
*.a
*.vec
*.csv
*.in
*.bin
*.sorted
*.fasttext
*.header
*.binary
*.dict
ynet/data
ynet/data.bak
ynet/model_dir
*.out
ynet/model
*.tgz
tags/data
tags/raw_data
build
data/
tf_fasttext/model/
model_dir/
model_dir.bak/
export_model_dir/
cpp_out
python_out
*.log
dict_dir
nce_params_dir
mnist_convnet_model
*.tfrecord
*.tfrecord.*
*.tar.gz
*.bz2
*.tgz
tf/knet/krecall/ops/fasttext/tfrecord_writer
*.npy
datasets/cat-dog-dataset/train
datasets/cat-dog-dataset/test
datasets/leg-dataset/train
datasets/leg-dataset/test
datasets/cifar10-dataset/train
datasets/cifar10-dataset/test
datasets/nn-dataset/test
tf/models/alexnet/train.txt
tf/models/alexnet/test.txt
tf/models/alexnet/eval.txt
tf/models/alexnet/validation.txt
tf/models/alexnet/predict_output.txt
fe_dir/
core
train.txt
eval.txt
validation.txt
test.txt
predict_output.txt
predict_output.*.txt
test_*.txt
input.txt
output.txt
nn.txt
*.ckpt
*.txt
*.pkl
